.jinji-wrapper {
    position: relative
}

.jinjidefen {
    position: absolute;
    left: 200px
}

.wrapper {
    width: 1000px;
    margin: 0 auto
}

.header {
    width: 1000px;
    height: 300px;
    background-image: url(https://media.prts.wiki/5/5b/%E4%B8%AA%E4%BA%BA%E5%90%8D%E7%89%87_%E5%B1%B1%E6%B0%B4_%E9%A2%84%E8%A7%881%2B.png);
    background-repeat: round
}

.main {
    line-height: 1.6;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
    background-color: #f0f8ff
}

a {
    color: #00000080;
    text-decoration: none
}

a:hover {
    text-decoration: solid underline rgba(0,0,0,.5)
}

.part,.part2,.part3,.yuanshi,.jiesuan,.hide,.sichou, .lantu, .wsde {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px
}

.part {
    width: 220px
}

.part2,.hide {
    position: absolute;
    left: 250px;
    top: 0;
    width: 380px
}

.part3 {
    position: absolute;
    left: 650px;
    top: 0;
    width: 320px
}

.shuru,.shuru1 {
    width: 11%
}

.shuru {
    margin-bottom: 5px
}

.yuanshi {
    position: absolute;
    left: 250px;
    top: 400px;
    width: 380px
}

.hide {
    position: absolute;
    left: 250px;
    top: 480px;
    width: 380px
}

.jiesuan {
    position: absolute;
    left: 650px;
    top: 400px;
    width: 320px
}

.sichou {
    position: absolute;
    left: 650px;
    top: 440px;
    width: 320px
}

.lantu {
    position: absolute;
    left: 650px;
    top: 470px;
    width: 320px
}

.wsde {
    position: absolute;
    left: 650px;
    top: 500px;
    width: 320px
}

.zongfen-wrapper {
    position: absolute;
    font-size: 30px;
    left: 720px;
    bottom: 5px
}

.qingkong {
    width: 100px;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0
}

.but-count {
    display: inline-block;
    text-align: center;
    width: 30px
}

.changecountlinshi {
    font-size: 18px;
    width: 25px
}

.changecounthide {
    font-size: 18px;
    width: 35px
}

.changecount {
    font-size: 18px;
    width: 38px
}
